body {
    background-image: url("../images/mariotile.png");
    background-repeat: repeat;
    margin:0px;
}

@font-face {
    font-family: "Ode to Idle Gaming";
    src: url("../font/Ode_to_Idle_Gaming.woff")
}

h1 {
    font-family: "Ode to Idle Gaming", "courier new", "serif";
    text-shadow: 2px 2px teal;
}

.container {
    font-family: 'Courier New', Courier, monospace;
}